<h1>About Jacqueline</h1>
<p>
Jacqueline Jensen is a Founder of TicketCake.com, a natural born doer, and an enthusiastic member of the <%= link_to "#VegasTech community", "https://twitter.com/search?f=realtime&q=%23VegasTech&src=tyah" %>. She has been a relationship builder, problem solver, social marketer, project manager, and finance nerd. Today, she is inspired by serendipity and other entrepreneurs she meets.
<p>
Jacqueline was named 2012 Female Entrepreneur of the Year by Entrepreneurs Organization (EO) Las Vegas Chapter and spoke at events including the LEXI Women's Leadership Summit in Las Vegas and Seattle, Women 2.0 Founder Friday, and TEDxFremontEastWomen <%= link_to "(watch)", "https://www.youtube.com/watch?v=ZeKBquRKa-w" %>. Ticket Cake was named 2012 Tech Transplant of the Year by the Technology Business Alliance of Nevada.
<p>
Jacqueline sits on the Board at TBAN (Technology Business Alliance of Nevada). She sits on the Advisory Boards for UNLV Lee Business School's Marketing & International Business Department and Delta Eta chapter of Kappa Kappa Gamma at the University of Utah. She is also the curator of <%= link_to "VegasTech.com", "http://vegastech.com" %>.
<p>
Cofounder/COO <%= link_to "@TicketCake", "http://ticketcake.com" %><br>
Curator <%= link_to "@VegasTech", "http://twitter.com/VegasTech" %>
<p>
Producer @DowntownPodcast <%= link_to "(watch)", "https://www.youtube.com/user/downtownpodcast" %><br>
Las Vegas City Coordinator @YFEntrepreneur <%= link_to "(watch)", "http://www.youtube.com/playlist?list=PLA_tTJ-r5f3IBBV_lQLjhYY63W4q-nEOJ" %> 
<p>
Advisory Board <%= link_to "@UtahKKG", "http://twitter.com/utahKKG" %> <br>
Advisory Board at UNLV Marketing & International Business Dept.<br>
Board <%= link_to "@TBANvegas", "http://twitter.com/TBANvegas" %>
<p>
Community Member <%= link_to "@VegasTechFund", "http://twitter.com/VegasTechFund" %> <br>
Learning to code at <%= link_to "@LVRUG", "http://twitter.com/LVRUG" %><br>
♥ #vegastech<br>
<%= link_to "Move fast and break things.", "http://designforfun.com/display.php?id=139" %> 
